.env
vectorstore/
.venv/
__pycache__/

# Data folders
data/
chroma_db/

data/vectordb

#created by tmol
quality/
swasthyasetu.egg-info/


#model 
models/

#notebook
notebooks/11_benchmark_test.ipynb  